BitcoinDeveloper/Web References/ReturnMessageApi/api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetExecutions">
        <s:complexType />
      </s:element>
      <s:element name="GetExecutionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExecutionsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExecutionsId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ProcessId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnMessageResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetExecutionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetExecutions" />
  </wsdl:message>
  <wsdl:message name="GetExecutionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetExecutionsResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnMessageSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnMessage" />
  </wsdl:message>
  <wsdl:message name="ReturnMessageSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="Api1Soap">
    <wsdl:operation name="GetExecutions">
      <wsdl:input message="tns:GetExecutionsSoapIn" />
      <wsdl:output message="tns:GetExecutionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnMessage">
      <wsdl:input message="tns:ReturnMessageSoapIn" />
      <wsdl:output message="tns:ReturnMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Api1Soap" type="tns:Api1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExecutions">
      <soap:operation soapAction="http://tempuri.org/GetExecutions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnMessage">
      <soap:operation soapAction="http://tempuri.org/ReturnMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Api1Soap12" type="tns:Api1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExecutions">
      <soap12:operation soapAction="http://tempuri.org/GetExecutions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnMessage">
      <soap12:operation soapAction="http://tempuri.org/ReturnMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Api1">
    <wsdl:port name="Api1Soap" binding="tns:Api1Soap">
      <soap:address location="http://bitcointransaction.4webdemo.com/api/api.asmx" />
    </wsdl:port>
    <wsdl:port name="Api1Soap12" binding="tns:Api1Soap12">
      <soap12:address location="http://bitcointransaction.4webdemo.com/api/api.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>